fastapi==0.115.0
uvicorn==0.30.6
pymongo==4.10.0
python-dotenv==1.0.1
pydantic==2.8.2
bcrypt==4.2.0
httpx==0.27.2
requests==2.32.3
python-multipart==0.0.9
PyJWT==2.8.0
# cache bust Mon Apr 27 17:18:14 UTC 2026
